In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [11]:
clinico = pd.read_csv('ICL_NREVSS_Clinical_Labs.csv', skiprows=1)
publico = pd.read_csv('ICL_NREVSS_Public_Health_Labs.csv', skiprows=1)
ili = pd.read_csv('ILINet.csv', skiprows=1)

# Limpeza dados 
## 1- Clinico

In [12]:
clinico.tail()

,REGION TYPE,REGION,YEAR,WEEK,TOTAL SPECIMENS,TOTAL A,TOTAL B,PERCENT POSITIVE,PERCENT A,PERCENT B
21,National,X,2025,9,132864,22242,3595,19.44620,16.74040,2.70577
22,National,X,2025,10,115729,14674,3658,15.84050,12.67960,3.16083
23,National,X,2025,11,104541,10352,3693,13.43490,9.90233,3.53259
24,National,X,2025,12,91506,6138,3752,10.80800,6.70776,4.10028
25,National,X,2025,13,69263,3444,3281,9.70937,4.97235,4.73702

In [4]:
clinico = clinico.drop(columns=['REGION', 'REGION TYPE'])

In [6]:
def get_date(year, week):
    return datetime.strptime(f'{int(year)}-{int(week)}-1', "%Y-%W-%w")

In [7]:
clinico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              26 non-null     int64
 1   WEEK              26 non-null     int64
 2   TOTAL SPECIMENS   26 non-null     int64
 3   TOTAL A           26 non-null     int64
 4   TOTAL B           26 non-null     int64
 5   PERCENT POSITIVE  26 non-null     float64
 6   PERCENT A         26 non-null     float64
 7   PERCENT B         26 non-null     float64
dtypes: float64(3), int64(5)
memory usage: 1.8 KB

In [ ]:
clinico['DATE'] = clinico.apply(lambda x: get_date(x['YEAR'], x['WEEK']), axis=1)