In [98]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
#from datetime import datetime

In [2]:
clinico = pd.read_csv('ICL_NREVSS_Clinical_Labs.csv', skiprows=1)
publico = pd.read_csv('ICL_NREVSS_Public_Health_Labs.csv', skiprows=1)
ili = pd.read_csv('ILINet.csv', skiprows=1)

# Limpeza dados 
## 1- Clinico

In [3]:
clinico.tail()

,REGION TYPE,REGION,YEAR,WEEK,TOTAL SPECIMENS,TOTAL A,TOTAL B,PERCENT POSITIVE,PERCENT A,PERCENT B
233,National,X,2025,12,97442,6505,3950,10.72950,6.67577,4.05369
234,National,X,2025,13,90052,4458,3891,9.27131,4.95047,4.32084
235,National,X,2025,14,82103,2845,3415,7.62457,3.46516,4.15941
236,National,X,2025,15,74104,1771,2951,6.37213,2.38988,3.98224
237,National,X,2025,16,63566,1173,2358,5.55486,1.84533,3.70953

In [4]:
clinico = clinico.drop(columns=['REGION', 'REGION TYPE'])

In [5]:
def get_date(year, week):
    return datetime.date.fromisocalendar(year, week, 1)

In [37]:
clinico['DATE'] = [get_date(y, w) for y, w in zip(clinico['YEAR'], clinico['WEEK'])]

In [55]:
clinico.duplicated(subset=['DATE']).sum()

0

In [61]:
clinico['TOTAL POSITIVE'] = clinico['TOTAL A'] + clinico['TOTAL B']

In [63]:
clinico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              238 non-null    int64
 1   WEEK              238 non-null    int64
 2   TOTAL SPECIMENS   238 non-null    int64
 3   TOTAL A           238 non-null    int64
 4   TOTAL B           238 non-null    int64
 5   PERCENT POSITIVE  238 non-null    float64
 6   PERCENT A         238 non-null    float64
 7   PERCENT B         238 non-null    float64
 8   DATE              238 non-null    object
 9   TOTAL POSITIVE    238 non-null    int64
dtypes: float64(3), int64(6), object(1)
memory usage: 18.7+ KB

# Limpeza dados 
## 2- Publico

In [82]:
publico.tail()

,REGION TYPE,REGION,YEAR,WEEK,TOTAL SPECIMENS,A (2009 H1N1),A (H3),A (Subtyping not Performed),B,BVic,BYam,H3N2v,A (H5)
233,National,X,2025,12,4324,1476,1046,262,144,143,0,0,0
234,National,X,2025,13,2685,765,477,152,133,123,0,0,0
235,National,X,2025,14,2360,688,440,104,157,127,0,0,0
236,National,X,2025,15,1632,356,183,50,121,153,0,0,0
237,National,X,2025,16,770,128,59,23,63,64,0,0,0

In [83]:
publico = publico.drop(columns=['REGION', 'REGION TYPE'])

In [84]:
publico['TOTAL A'] = publico['A (2009 H1N1)'] + publico['A (H3)'] + publico['A (Subtyping not Performed)'] + publico['A (H5)']

In [85]:
publico['TOTAL B'] = publico['B'] + publico['BVic'] + publico['BYam'] + publico['H3N2v']

In [86]:
publico['TOTAL POSITIVE'] = publico['TOTAL A'] + publico['TOTAL B']

In [87]:
publico['PERCENT POSITIVE'] = (publico['TOTAL POSITIVE'] / publico['TOTAL SPECIMENS']) * 100

In [88]:
publico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   YEAR                         238 non-null    int64
 1   WEEK                         238 non-null    int64
 2   TOTAL SPECIMENS              238 non-null    int64
 3   A (2009 H1N1)                238 non-null    int64
 4   A (H3)                       238 non-null    int64
 5   A (Subtyping not Performed)  238 non-null    int64
 6   B                            238 non-null    int64
 7   BVic                         238 non-null    int64
 8   BYam                         238 non-null    int64
 9   H3N2v                        238 non-null    int64
 10  A (H5)                       238 non-null    int64
 11  TOTAL A                      238 non-null    int64
 12  TOTAL B                      238 non-null    int64
 13  TOTAL POSITIVE               238 non-null    int64
 14  PERCENT POSITIVE             238 non-null    float64
dtypes: float64(1), int64(14)
memory usage: 28.0 KB

In [89]:
publico = publico.drop(columns=['A (2009 H1N1)', 'A (H3)', 'A (Subtyping not Performed)', 'B', 'BVic', 'BYam', 'H3N2v', 'A (H5)'])

In [90]:
publico['PERCENT A'] = (publico['TOTAL A'] / publico['TOTAL SPECIMENS']) * 100

In [91]:
publico['PERCENT B'] = (publico['TOTAL B'] / publico['TOTAL SPECIMENS']) * 100

In [92]:
publico.tail()

,YEAR,WEEK,TOTAL SPECIMENS,TOTAL A,TOTAL B,TOTAL POSITIVE,PERCENT POSITIVE,PERCENT A,PERCENT B
233,2025,12,4324,2784,287,3071,71.022202,64.384829,6.637373
234,2025,13,2685,1394,256,1650,61.452514,51.918063,9.534451
235,2025,14,2360,1232,284,1516,64.237288,52.203390,12.033898
236,2025,15,1632,589,274,863,52.879902,36.090686,16.789216
237,2025,16,770,210,127,337,43.766234,27.272727,16.493506

# Limpeza dados 
## 3- ILI

In [94]:
ili.tail()

,REGION TYPE,REGION,YEAR,WEEK,% WEIGHTED ILI,%UNWEIGHTED ILI,AGE 0-4,AGE 25-49,AGE 25-64,AGE 5-24,AGE 50-64,AGE 65,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS
233,National,X,2025,12,3.31604,3.32813,15123,24192,X,28177,10048,10433,87973,4173,2643314
234,National,X,2025,13,2.95612,2.97203,13735,21534,X,25315,8396,8462,77442,4179,2605693
235,National,X,2025,14,2.61982,2.61412,12044,18649,X,21801,7314,7151,66959,4169,2561436
236,National,X,2025,15,2.45037,2.38458,11613,16700,X,19766,6470,6408,60957,4159,2556303
237,National,X,2025,16,2.27570,2.21627,11034,15477,X,17588,5911,6085,56095,4084,2531059

In [95]:
ili.drop(columns=['REGION', 'REGION TYPE', 'AGE 25-64'], inplace=True)

In [96]:
ili.drop(columns=['NUM. OF PROVIDERS'], inplace=True)

In [97]:
ili.tail()

,YEAR,WEEK,% WEIGHTED ILI,%UNWEIGHTED ILI,AGE 0-4,AGE 25-49,AGE 5-24,AGE 50-64,AGE 65,ILITOTAL,TOTAL PATIENTS
233,2025,12,3.31604,3.32813,15123,24192,28177,10048,10433,87973,2643314
234,2025,13,2.95612,2.97203,13735,21534,25315,8396,8462,77442,2605693
235,2025,14,2.61982,2.61412,12044,18649,21801,7314,7151,66959,2561436
236,2025,15,2.45037,2.38458,11613,16700,19766,6470,6408,60957,2556303
237,2025,16,2.27570,2.21627,11034,15477,17588,5911,6085,56095,2531059

# Unindo as tabelas
## Clinico, publico e ILI

In [102]:
dados_somados = pd.concat([clinico, publico], ignore_index=True)
colunas_somar = ['TOTAL SPECIMENS', 'TOTAL A', 'TOTAL B', 'TOTAL POSITIVE']
gripe = dados_somados.groupby(['YEAR', 'WEEK'])[colunas_somar].sum().reset_index()

In [103]:
gripe.tail()

     YEAR  WEEK  TOTAL SPECIMENS  TOTAL A  TOTAL B  TOTAL POSITIVE
233  2025    12           101766     9289     4237           13526
234  2025    13            92737     5852     4147            9999
235  2025    14            84463     4077     3699            7776
236  2025    15            75736     2360     3225            5585
237  2025    16            64336     1383     2485            3868

In [107]:
gripe.duplicated().sum()

0

In [114]:
gripe['PERCENT POSITIVE'] = (gripe['TOTAL POSITIVE'] / gripe['TOTAL SPECIMENS']) * 100
gripe['PERCENT A'] = (gripe['TOTAL A'] / gripe['TOTAL SPECIMENS']) * 100
gripe['PERCENT B'] = (gripe['TOTAL B'] / gripe['TOTAL SPECIMENS']) * 100